#!/usr/bin/env bash

export ALTERNATE_EDITOR=""
export EDITOR="emacsclient -t"                  # $EDITOR opens in terminal
# export EDITOR='nvim';
export VISUAL="emacsclient -c -a emacs"         # $VISUAL opens in GUI mode
